@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
@import url(http://fonts.googleapis.com/css?family=Kameron);
/*----------------------------------------------------------------
[Table of contents]

1. Reset
2. General
	2.1 Pager / #pager
	2.2 Wide
3. Circles
	3.1 Circle Structure / .circle
	3.2 Tiny Circles / .circle.tiny
	3.3 Small Circles / .circle.small
4. Social Navigation
5. Header
	5.1 Banners / #[section]-banner
6. Main Navigation / #main-nav
	6.1 Sub Menu
7. Main Slider / .main-slider
	7.1 Pager / .pager-container
8. Our Dishes / #our-dishes
	8.1 Dishes / #dishes-[left/right]
9. Shows / #shows
10. Popular Dishes / #popular-dishes
	10.1 Dish Listing / .dishes
11. Specials / #specials
12. About / #about
13. Video / #video
	13.1 Radial Progress / .radial-progress
14. Reviews / #reviews
15. News / #news
16. Contact / #contact
17. Map / #map
18. Footer
	18.1 About Mozzarella
	18.2 Our Latests Posts
	18.3 Flickr Widget
	18.4 Opening Hours
	18.5 Copy / #copy
------------------------------------------------------------------
19. Menu / #menu
20. Events / #events
21. Calendar / #calendar
	21.1 Big Version
		21.1.1 Month / #month
		21.1.2 Week / #week
		21.1.3 Days / #days
	21.2 Small Version / .small
		21.2.1 Month / #month
		21.2.2 Week / #week
		21.2.3 Days / #days
		21.2.4 Events / #cal-events
22. Gallery / #gallery
	22.1 Three Columns
	22.2 Four Columns
23. Blog / #blog
	23.1 Post List / #post-list
	23.2 Side Nav / #side-nav
	23.3 Tags / .tags
	23.4 Comments / #comments
24. Animations
	24.1 Plus Icon Roll
	24.2 Radial Progress Rotation
25. Magnific Popup Lightbox Animation
26. Media Queries
-------------------------------------------------------------------*/
/***************************************/
/* 1. RESET */
/***************************************/
* {
	font-family: 'Oswald', sans-serif;
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


p {
	color: #323232;
	font-family: 'Oswald', sans-serif;
}

a { text-decoration: none;} 

ul, ol {
	list-style: none;
	margin-bottom: 50px;
}

main, header, nav,
article, section,
aside, footer {
	display: block;
}

figure {line-height: 0;}

figure figcaption {display: none;}

/***************************************/
/* 2. GENERAL */
/***************************************/

li {

	font-size: 1.25em;
	word-wrap: break-word;
}



p + hr {
	margin: 20px auto 70px;
	border: none;
	border-bottom: 2px solid #ffa800;
	width: 130px;
}

h1 {
	font-size: 2.25em; /* 80px / 16px */
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	/* line-height: 1em; */
	color: #fff;
	margin-bottom: 8px;
}

h2 {
	font-size: 3.75em; /* 60px / 16px */
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	color: #323232;
	line-height: 1em;
	text-align: center;
}

h2 + p {
	text-align: center;
	margin: 0 auto;
	width: 65%;
}

h3 {
	font-size: 4.375em; /* 70px / 16px */
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
	line-height: 1em;
}

h3 span {
	font-size: 1.2em; /* 84x / 70px */
	font-family: 'Kameron', serif;
	color: #ffa800;
	margin-left: 7px;
}

h4 {
	font-size: 2.25em; /* 36px / 16px */
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: #fff;
	line-height: 1em;
}

h4 span {
	color: #fff;
}

h5 {
	font-size: 1em; /* 20px / 16px */
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	color: #000;
	line-height: 1em;
}

h5 span {
	color: #fff;
	font-weight: 700;
}

h6 {
    font-size: 1em;
    color: #DDBD6F;
    line-height: 1em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

a.square-button {
	display: block;
	width: 240px;
	height: 45px;
	border: 1px solid #fff;
	text-transform: uppercase;
	line-height: 45px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 0.75em; /* 12px / 16px */
	font-weight: 900;
	color: #fff;
	letter-spacing: .2em;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
}

a.square-button:hover {
	background-color: #ffa800;
	color: #fff;
	border-color: #ffa800;
}

img[alt='title-detail'] {
	display: block;
	margin: 0 auto 15px;
}

input, textarea {
	border: 1px solid #dcdcdc;
	padding: 10px 15px;
	font-size: 0.75em; /* 12px / 16px */
	font-family: 'Lato', serif;
	color: #323232;
	font-weight: 400;
}

.error {
	border-color: #db2e2e;
}

.cleaner {
	clear: both;
}


header > figure img {
	
		height: 100px;
		width: 200px;
	
}


header h1, header h2 {
    font-size: 2.125em;
    padding: 15px 0px 0px 51px;
}


#info {
font-size: 1.20em;
}


/***************************************/
/* 3. CIRCLES */
/***************************************/
/*----------------------
  3.1 CIRCLE STRUCTURE
----------------------*/
div.circle {
	background-color: #373737;
	border-radius: 50%;
	padding: 3px 0 0 3px;
	position: relative;
	overflow: hidden;
}

div.circle > figure {
	border-radius: 50%;
}

div.circle > a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	transition: all .4s ease-in;
	-webkit-transition: all .4s ease-in;
}

div.circle > a:hover {
    background-color: rgba(0,0,0,.75);
}

div.circle > a:hover > img {
	opacity: 1;
}

div.circle > a > img {
	opacity: 0;
	transition: all .4s ease-in;
	-webkit-transition: all .4s ease-in;
}

/*-------------------
  3.2 TINY CIRCLE
-------------------*/
div.circle.tiny {
	width: 70px;
	height: 70px;
}

div.circle.tiny figure {
	width: 64px;
	height: 64px;
}

/*--------------------
  3.3 SMALL CIRCLE
--------------------*/
div.circle.small {
	width: 75px;
	height: 75px;
}

div.circle.small figure {
	width: 69px;
	height: 69px;
}

div.circle.small > a {
	width: 75px;
	height: 75px;
}

div.circle.small > a:hover > img {
	transform: translate(0,25px);
	-webkit-transform: translate(0,25px);
}

div.circle.small > a > img {
	margin-left: 26px;
}


/**************************************
/* 5. HEADER */
/*************************************/
header {
	position: relative;
}

header > figure {
	width: 228px;
	position: absolute;
	top: 20%;
	left: 50%; 
	margin-left: -92px;
	z-index: 1;
}


/*--------------------
  5.1 BANNERS
--------------------*/
#menu-banner,
#events-banner,
#blog-banner,
#gallery-banner {
	/* background-size: 2px 2px, cover !important; */
	height: 200px;
	text-align: center;
}

#menu-banner {
	background: url('../images/fondo/coverlabarra.jpg') repeat, url('../images/fondo/coverlabarra.jpg') no-repeat center;
}



/***************************************/
/* 8. OUR DISHES */
/***************************************/

#jugosybatidas {
	margin: 0 auto;
	margin: 10px;
    padding: 10px;
  }
  
  table {
	border-spacing: 10px;
	border: 1px solid #ddd;
  }
  
  td {
	width: 40%;
	text-align: center;
  }
  

#our-dishes-wrap{
	background-color: #fff;
}

#our-dishes {
	padding: 60px 0 130px;
	position: relative;
	overflow: hidden;
}

#our-dishes img[alt='deli-badge'] {
	position: absolute;
	top: 315px;
	left: 50%;
	margin-left: -179px;	
}



/*---------------
  8.1 DISHES
---------------*/

#jugosybatidas .h2-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
  }


.tituloesp {
	color: #D21D1D;
	font-size: 1.50em; 
	text-align: center;
	margin-bottom: 10px;

}

.titulocat {
	color: #000;
	font-size: 1em; 
	text-align: center;
	margin-bottom: 10px;

}


.subtituloesp {
    display: inline-flex;
    color: #fff;
    font-size: 1.25em;
    font-weight: 200;
    padding: 5px;
    background-color: #D21D1D;
    border-radius: 5px;
    max-width: 24em;
    margin: 10px;
}


.subtituloprecio {
	color: #D21D1D;
	font-size: 1.10em; 
	font-weight: 100px;
	padding: 10px;
	font-weight: 200px;
}



#dishes-left {
	width: 300px;
	float: left;
	margin-left: 8%;
}

#dishes-right {
	width: 300px;
	float: right;
	margin-right: 8%;
}

#dishes-left > article,
#dishes-right > article {
	overflow: hidden;
	margin-bottom: 55px;
}

#dishes-left > article:last-child,
#dishes-right > article:last-child {
	margin-bottom: 0;
}

#dishes-left > article > div {
	width: 215px;
	float: left;
}

#dishes-right > article > div {
	width: 215px;
	float: right;
}

#dishes-left > article > div {
	text-align: right;
}

#dishes-left > article > div > h5,
#dishes-right > article > div > h5 {
	margin-bottom: 10px;
}

#dishes-left > article > img {
	float: right;
}

/***************************************/
/* 9. SHOWS */
/***************************************/
#shows-wrap{
	background: url('../images/dots-texture.png') repeat, url('../images/show-bg.jpg') center;
	background-size: 2px 2px, cover;
	-webkit-background-size: 2px 2px, cover;
}

#shows {
	padding-top: 100px;
	position: relative;
	min-height: 510px;
}

#shows img[alt='show-model'] {
	position: absolute;
	bottom: 0;
	left: 8%;
}

#shows > article {
	margin-left: 45%;
}

#shows > article > p {
	color: #fff;
}

#shows > article > h3 + p {
	font-size: 1.125em; /* 18px / 16px */
	letter-spacing: .32em;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 1em;
	margin: 10px 0 25px;
}

#shows > article > h3 + p:before {
	content: url('../images/show-left-decor.png');
	margin-right: 15px;
}

#shows > article > h3 + p:after {
	content: url('../images/show-right-decor.png');
	margin-left: 8px;
}

#shows > article > p + p {
	width: 84%;
	margin-bottom: 55px;
}


/***************************************/
/* 10. POPULAR DISHES */
/***************************************/
#popular-dishes-wrap {
	background-color: #fff;
}

#popular-dishes {
	padding: 60px 0 100px;
	position: relative;
}

/*-------------------
  10.1 DISH LISTING
-------------------*/
ul.dishes {
	overflow: hidden;
	width: 1170px;
	margin: 0 auto;
}

ul.dishes > li {
	padding: 30px 0px 0px 0px;
		text-align: center;
}

ul.dishes > li:nth-child(4n+4) {
	margin-right: 0;
}

ul.dishes > li > div {
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

ul.dishes.v3 > li > div {
	margin-bottom: 20px;
}

ul.dishes > li > div > a > div {
	background-color: rgba(0,0,0,.75);
	transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	height: 0;
	position: relative;
	z-index: 0;
}

ul.dishes > li > div:hover > a > div {
	height: 190px;
}

ul.dishes > li > div:hover img[alt='plus-icon'] {
	animation: plus-roll .5s ease-in forwards;
	-webkit-animation: plus-roll .5s ease-in forwards;
}

ul.dishes > li > div:hover img[alt='plus-icon'] + p {
	opacity: 1;
}

ul.dishes > li > div > img[alt='menu-dish'] {
	position: absolute;
	margin: auto;
	z-index: 0;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

ul.dishes img[alt='plus-icon'] {
	margin-top: 65px;
	margin-left: -200px;
	opacity: 0;
}

ul.dishes img[alt='plus-icon'] + p {
	font-size: 0.625em; /* 10px / 16px */
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 2em;
	opacity: 0;
	transition: all .5s ease-in;
	-webkit-transition: all .5s ease-in;
}

ul.dishes img[alt~='item'] {
	position: absolute;
	top: 155px;
	left: 50%;
	margin-left: -35px;
}

ul.dishes.v2 > li > h5,
ul.dishes.v3 > li > h5 {
	text-align: left;
	margin-left: 10px;
	font-size: 1.125em; /* 18px / 16px */
} 

ul.dishes > li > p { 
	margin: 10px auto 0;
}

ul.dishes.v2 > li > p,
ul.dishes.v3 > li > p {
	text-align: left;
	margin-left: 10px;
} 

ul.dishes > li > p:last-child { 
	font-size: 0.90em; /* 18px / 16px */
	color: #323232;
}

ul.dishes.v2 > li > p:last-child { 
	position: absolute;
	bottom: 70px;
	right: 10px;
	margin: 0;
	font-size: 1em; /* 16px / 16px */
	width: auto;
}

/***************************************/
/* 11. SPECIALS */
/***************************************/
#specials {
	background: url('../images/dots-texture.png') repeat, url('../images/bricks-bg.jpg') center;
	background-size: 2px 2px, cover;
	-webkit-background-size: 2px 2px, cover;
	min-height: 560px;
	padding-top: 73px;
	position: relative;
}

#specials > #board {
	width: 994px;
	height: 424px;
	margin: 0 auto;
	position: relative;
	background: url('../images/wood-sign.png');
}

#specials > #board > img[alt='specials-title'] {
	position: absolute;
	top: 90px;
	left: 48px;
}

#specials > img[alt='ivy'] {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}

#specials > #board > article {
	float: right;
	margin: 80px 100px 0 0;
}

#specials > #board > article > article {
	float: left;
	width: 450px;
}

#specials > #board > article > article > h5 {
	font-size: 1.125em; /* 18px / 16px */
	color: #fff;
	float: left;
	margin-right: 10px;
	margin-bottom: 7px;
}

#specials > #board > article > article > hr {
	border: none;
	height: 4px;
	background: url('../images/dot-border.png') repeat-x;
	margin-top: 13px;
}

#specials > #board > article > article + p {
	float: left;
	color: #D21D1D;
	font-weight: 900;
	font-size: 1em;
	line-height: 1em;
	margin-left: 10px;
}

#specials > #board > article > p + p {
	clear: left;
	color: #acabab;
	line-height: 17px;
	margin-bottom: 20px;
}

/***************************************/
/* 12. ABOUT */
/***************************************/
#about-wrap {
	background-color: #fff;	
}

#about {
	padding: 60px 0 130px;
	position: relative;
}

#about > article {
	width: 500px;
	margin-left: 8%;
	overflow: hidden;
}

#about > article > h5 + p {
	margin: 10px 0 25px;
}

#about > article > ul {
	float: left;
	margin: 40px 30px 0 0;	
}

#about > article > ul > li {
	font-size: 1em; /* 16px / 16px */
	font-family: 'Oswald', sans-serif;
	color: #323232;
	font-weight: 400;
	position: relative;
	margin-bottom: 20px;
}

#about > article > ul > li:last-child {
	margin-bottom: 0;
}

#about > article > ul > li:before {
	content: url('../images/check-icon.png');
	position: relative;
	top: 2px;
	left: 0;
	margin-right: 20px;
}

#about > img[alt='about-img'],
#about > img[alt='quality-badge'] {
	position: absolute;
	right: 7.5%;
}

#about > img[alt='about-img'] {
	top: 250px;
}

#about > img[alt='quality-badge'] {
	top: 275px;
}

/***************************************/
/* 13. VIDEO */
/***************************************/
#video {
	min-height: 500px;
	background: url('../images/dots-texture.png') repeat, url('../images/video-bg.jpg') center;
	background-size: 2px 2px, cover;
	-webkit-background-size: 2px 2px, cover;
	padding-top: 145px;
	position: relative;
}

#video > p {
	font-size: 1em; /* 16px / 16px */
	color: #fff;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 7px;
}

#video > h2 {
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 0;
}

#video > h2 span {
	color: #ffa800;
}

#video > iframe {
	display: none;
	width: 100%;
	height: 500px;
	position: absolute;
	top: 0;
	left: 0;
}

/*----------------------
  13.1 RADIAL PROGRESS
----------------------*/
.radial-progress {
	width: 98px;
	height: 98px;
	background-color: transparent;
	border-radius: 50%;
	margin: 50px auto 0;
}

.radial-progress .r-circle .mask, 
.radial-progress .r-circle .fill {
	width: 98px;
	height: 98px;
	position: absolute;
	border-radius: 50%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.radial-progress .r-circle .mask {
	clip: rect(0, 98px, 98px, 49px);
}

.radial-progress .r-circle .mask .fill {
	clip: rect(0, 49px, 98px, 0);
	background-color: #ffa800;
}

.radial-progress .inset {
	width: 90px;
	height: 90px;
	position: absolute;
	margin-left: 4px;
	margin-top: 4px;
	background-color: #000;
	border-radius: 50%;
	cursor: pointer;
}

.radial-progress .inset > img[alt='play-button'] {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -18px 0 0 -12px;
}

.radial-progress .r-circle .fill, .r-circle .mask.full{
	animation: rotate 3s linear infinite;
	-webkit-animation: rotate 3s linear infinite;
}

.radial-progress .r-circle .fill.fix {
	animation: rotate-fix 3s linear infinite;
	-webkit-animation: rotate-fix 3s linear infinite;
}

/***************************************/
/* 14. REVIEWS */
/***************************************/
#reviews-wrap {
	background-color: #fff;
}

#reviews {
	padding: 60px 0 90px;
}

#reviews > ul {
	width: 1030px;
	overflow: hidden;
	margin: 0 auto;
}

#reviews > ul > li {
	width: 500px;
	margin: 0 30px 40px 0;
	float: left;
}

#reviews > ul > li:nth-child(2n+2) {
	margin-right: 0;
}

#reviews > ul > li > article {
	float: left;
}

#reviews > ul > li > article > ul {
	width: 48px;
	margin: 3px auto;
	overflow: hidden;
}

#reviews > ul > li > article > ul > li {
	float: left;
	margin-right: 2px;
}

#reviews > ul > li > article > ul > li:last-child {
	margin-right: 0;
}

#reviews > ul > li > article > h5 {
	font-size: 1em; /* 16px / 16px */
	text-align: center;
}

#reviews > ul > li > article > p {
	font-size: 0.6875em; /* 11px / 16px */
	text-align: center;
	margin-top: 2px;
}

#reviews > ul > li > article.quote {
	width: 400px;
	margin-left: 30px;
	padding: 25px 40px 25px 45px;
	border: 1px solid #ccc;
	border-radius: 10px;
	position: relative;
}

#reviews > ul > li > article.quote > p {
	font-size: 0.75em; /* 12px / 16px */
	text-align: left;
}

#reviews > ul > li > article.quote > p span {
	font-weight: 900;
	color: #ffa800;
}

#reviews img[alt~='quote'] {
	position: absolute;
}

#reviews img[alt~='right'] {
	bottom: 15px;
	right: 15px;
}

#reviews img[alt~='left'] {
	top: 15px;
	left: 15px;
}

#reviews img[alt~='triangle'] {
	top: 25px;
	left: -13px;
}

/***************************************/
/* 15. NEWS */
/***************************************/
#news {
	background: url('../images/dots-texture.png') repeat, url('../images/news-bg.jpg') no-repeat center;
	background-size: 2px 2px, cover;
	-webkit-background-size: 2px 2px, cover;
	min-height: 400px;
	padding-top: 130px;
}

#news > p {
	font-size: 0.875em; /* 14px / 16px */
	color: #fff;
	font-weight: 900;
	line-height: 1em;
	text-transform: uppercase;
	text-align: center;
}

#news > h4 {
	margin-top: 15px;
	text-align: center;
	text-transform: uppercase;
}

#news > article {
	width: 400px;
	margin: 40px auto 0;
	position: relative;
}

#news input[type='email'] {
	min-width: 275px;
}

#news input[type='submit'] {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 125px;
	font-size: 0.75em; /* 12px / 16px */
	font-family: 'Lato', serif;
	font-weight: 900;
	color: #fff;
	letter-spacing: .2em;
	cursor: pointer;
	background-color: #D21D1D;
	text-transform: uppercase;
	border: none;
}

#news p.subs-error {
	font-family: 'Lato', serif;
	color: #db2e2e;
	font-weight: 700;
	float: left;
	margin-top: 5px;
	font-size: 0.75em;
	text-transform: none;
}

::-webkit-input-placeholder {
   font-size: 12px;
   font-family: 'Lato', serif;
   font-weight: 400;
   color: #ababab;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 12px;
   font-family: 'Lato', serif;
   font-weight: 400;
   color: #ababab; 
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 12px;
   font-family: 'Lato', serif;
   font-weight: 400;
   color: #ababab;
}

:-ms-input-placeholder {  
   font-size: 12px;
   font-family: 'Lato', serif;
   font-weight: 400;
   color: #ababab;
}



/***************************************/
/* 18. FOOTER */
/***************************************/
footer {
	background-color: #D21D1D;
}

footer > #info {
	width: 1170px;
	margin: 0 auto;
}

footer > #info {
	padding: 45px 0 75px;
	overflow: hidden;
}

footer #copy-wrap {
	background-color: #D21D1D;
}

footer #copy {
	overflow: hidden;
	padding: 0 30px;
}

footer > #info > article {
	width: 270px;
	float: left;
	margin-right: 30px;
}

footer > #info > article:last-child {
	margin-right: 0;
}

footer > #info > article > h5 {
    font-size: 1.50em;
    color: #fff;
    margin-bottom: 30px;
}
/*-----------------------
  18.1 ABOUT MOZZARELLA
-----------------------*/
footer > #info > article > p {
	color: #898989;
	margin-bottom: 20px;
}

.c-info p {
	color: #ffff;
}


footer > #info > article > ul.c-info > li {
	font-size: 0.625em; /* 10px / 16px */
	font-family: oswald;
	color: #fff !important;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 10px;
}

footer > #info > article > ul.c-info > li:before {
	position: relative;
	margin-right: 10px;
	top: 8px;
}

footer > #info > article > ul.c-info > li:first-child:before {
	content: url('../images/pin-icon.png')
}

footer > #info > article > ul.c-info > li:nth-child(2):before {
	content: url('../images/mail-icon.png')
}

footer > #info > article > ul.c-info > li:nth-child(3):before {
	content: url('../images/phone-icon.png')
}

.c-info img {
	height: 20px;
	width: 20px;
}

i.fa-solid.fa-location-crosshairs {
	color: white;
  }

.c-info li {
	display: flex; /* Make list items behave like rows */
	align-items: center; /* Vertically align content within each list item */
	margin-bottom: 5px; /* Add some spacing between list items */
  }
  
  .c-info li img {
	margin-right: 10px; /* Add some margin between icon and text */
  }



/*---------------------
  18.4 OPENING HOURS
---------------------*/
footer > #info > article > article.op-hours > div {
	overflow: hidden;
	height: 37px;
	border-bottom: 1px solid #DDBD6F ;
}

footer > #info > article > article.op-hours > div:last-child {
	border-bottom: none;
}

footer > #info > article > article.op-hours > div > h6 {
	font-size: 0.6875em; /* 11px / 16px */
	letter-spacing: 0;
	line-height: 33px;
}

footer > #info > article > article.op-hours > div > h6 span {
	color: #e41c1c;
}

footer > #info > article > article.op-hours > div > h6:first-child {
	float: left;
}

footer > #info > article > article.op-hours > div > h6:last-child {
	float: right;
	color: #fff;
}

/*-----------
  18.5 COPY
-----------*/
footer #copy > h5 {
	font-size: 0.8125em; /* 13px / 16px */
	color: #fff;
	line-height: 70px;
	float: left;
}

footer #copy > h5 {
	font-weight: 400;
}

footer #copy > nav > ul {
	float: right;
}

footer #copy > nav > ul > li {
	height: 70px;
	line-height: 70px;
	float: left;
	margin-right: 13px;
}

footer #copy > nav > ul > li:after {
	content: url('../images/copy-divider.png');
	margin-left: 13px;
}

footer #copy > nav > ul > li:last-child:after {
	content: '';
	margin-left: 0;
}

footer #copy > nav > ul > li:last-child {
	margin-right: 0;
}

footer #copy > nav > ul > li > a {
	font-size: 0.8125em; /* 13px / 16px */
	color: #fff;
	font-family: 'Oswald', sans-serif;
}

footer #copy > nav > ul > li > a:hover {
	color: #ffa800;
}

/***************************************/
/* 19. MENU */
/***************************************/

.dia {
    color: #D21D1D;
	font-size: 1.25em;
}

#menu{
	padding-bottom: 30px;
}

#menu-wrap {
	background-color: #fff;	
}


#menu-nav {
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    margin: 0 auto; /* Margen superior e inferior automático y margen izquierdo y derecho automáticos para centrarlo */
    max-width: 100%; /* Ancho máximo */
    text-align: center; /* Centra los elementos del menú horizontalmente */
	padding-bottom: 50px;
}

#menu-nav > li {
    display: inline-block; /* Muestra los elementos del menú en línea */
    position: relative;
    vertical-align: top; /* Alinea los elementos del menú verticalmente */
    text-align: center; /* Centra el texto horizontalmente */
	margin: 20px;
}

#menu-nav.text-nav {
	width: 1158px;
}


#menu-nav.text-nav > li {
	margin-right: 8px;
}

#menu-nav > li:last-child {
	margin-right: 0;
}

#menu-nav.img-nav > li > a {
	display: block;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 4px solid #D21D1D;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
}

#menu-nav.text-nav > li > a {
	display: block;
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	line-height: 35px;
	padding: 0 30px;
	color: #6f6f6f;
	border: 1px solid #dfdfdf;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	
}


#menu-nav.text-nav > li > a:hover {
	color: #fff;
	background-color: #D21D1D;
	border-color: #D21D1D;
}

#menu-nav.img-nav > li:first-child > a {
	background: url('../images/menu/pechuguitas.png');	
	margin: 20px;

}

#menu-nav.img-nav > li:nth-child(2) > a {
	background: url('../images/menu/familiar.png');
	margin: 20px;

}

#menu-nav.img-nav > li:nth-child(3) > a {
	background: url('../images/menu/hamburguesa.png');
	margin: 20px 20px 20px 35px;
}

#menu-nav.img-nav > li:nth-child(4) > a {
	background: url('../images/menu/frutas.png');
	margin: 20px 0px 20px 45px;}


#menu-nav.img-nav > li:nth-child(5) > a {
	background: url('../images/menu/alitas.png');
	margin: 20px 35px 20px 56px
}

#menu-nav.img-nav > li:nth-child(6) > a {
	background: url('../images/menu/tocineta.png');
	margin: 20px;

}

#menu-nav.img-nav > li:nth-child(7) > a {
	background: url('../images/menu/platodeldia.png');
	margin: 20px;

}

#menu-nav.img-nav > li:nth-child(8) > a {
	background: url('../images/menu/variados.png');
	margin: 20px;

}


#menu-nav.img-nav > li:last-child:after {
	display: none;
}

#menu-nav.img-nav > li > a:hover {
	border-color: #f06600;
}

#menu-nav > li.selected > a {
	border-color: #f06600;
}

#menu-nav.text-nav > li.selected > a {
	color: #fff;
	background-color: #ffa800;
	border-color: #ffa800;
}

#menu ul.dishes {
	margin-bottom: 10px;
}



/*--------------------
  21.2 SMALL VERSION
--------------------*/
#calendar.small {
	min-width: 280px;
	width: 50%;
	margin: 0 auto;
}
	/*--------------------
	    21.2.1 MONTH
	--------------------*/
	#calendar.small #month {
		height: 40px;
	}

	#calendar.small #month > p {
		font-size: 0.875em; /* 14px / 16px */
		line-height: 40px;
	}

	#calendar.small #month .arrow {
		width: 20px;
		height: 20px;
		border-width: 2px;
	}

	#calendar.small #month .arrow.left {
		background: url('../images/events/arrow-left-small.png') no-repeat 35% center #323232;
		left: 10px;
	}

	#calendar.small #month .arrow.right {
		background: url('../images/events/arrow-right-small.png') no-repeat 60% center #323232;
		right: 10px;
	}

	/*--------------------
	    21.2.2 WEEK
	--------------------*/
	#calendar.small #week {
		height: 42px;
	}

	#calendar.small #week > li {
		font-size: 0.75em; /* 12px / 16px */
		line-height: 42px;
	}

	/*--------------------
	    21.2.3 DAYS
	--------------------*/
	#calendar.small #days > li.marked {
		padding: 5px 10px 0;
	}

	#calendar.small #days > li.featured:after {
		content: '';
	}

	#calendar.small #days {
		border-bottom: 1px solid #dfdfdf;
		padding: 10px 0 20px;
	}

	#calendar.small #days > li {
		border-right: none;
		border-bottom: none;
		height: 30px;
		padding: 0 15px;
	}

	#calendar.small #days > li span {
		display: block;
		font-size: 0.6875em; /* 11px / 16px */
		text-align: center;
		line-height: 30px;
	}

	#calendar.small #days > li.marked span {
		width: 20px;
		height: 20px;
		line-height: 20px;
		margin: 0 auto;
	}




/***************************************/
/* 26. MEDIA QUERIES */
/***************************************/
@media screen and (max-width: 1290px) {
	/*-------------------
		POPULAR DISHES
	-------------------*/
	ul.dishes {
		width: 570px;
	}

	ul.dishes > li:nth-child(2n+2) {
		margin-right: 0;
	}

	/*-------------
		ABOUT
	-------------*/
	#about > article {
		width: 80%;
		margin: 0 auto;	
	}

	#about > article > ul {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}

	#about > img[alt='about-img'],
	#about > img[alt='quality-badge'] {
		display: none;
	}

	/*-------------
		GALLERY
	-------------*/
	#gallery-3c {
		width: 770px;
	}

	#gallery-3c > li:nth-child(3n+3) {
		margin-right: 30px;
	}

	#gallery-3c > li:nth-child(2n+2),
	#gallery-4c > li:nth-child(2n+2) {
		margin-right: 0;
	}

	#gallery-4c {
		width: 570px;
	}

	#gallery-pics {
		width: 830px;	
	}

	#gallery-pics > li:nth-child(7n+7) {
		margin-right: 20px;
	}

	#gallery-pics > li:nth-child(5n+5) {
		margin-right: 0;
	}

	/*-------------
		MENU
	-------------*/
	#menu-nav.text-nav {
		width: 320px;
	}

	#menu-nav.text-nav > li {
		margin-bottom: 8px;
	}	

	/*-------------
		FOOTER
	-------------*/
	footer > #info {
		width: 570px;	
		padding-bottom: 0;
	}

	footer > #info > article {
		margin-bottom: 50px;
	}
	
	footer > #info > article:nth-child(2n+2) {
		margin-right: 0;
	}

	#menu-nav > li {
		display: inline-block;
		position: relative;
		vertical-align: top;
		text-align: center;
		margin: 10px;
	}


}

@media screen and (max-width: 1275px) {
	/*---------------
		DISHES
	---------------*/
	#our-dishes img[alt='deli-badge'] {
		display: none;
	}

	#dishes-left {
		margin-left: 15%;
	}

	#dishes-right {
		margin-right: 15%;
	}

	/*---------------
		SHOWS
	---------------*/
	#shows img[alt='show-model'] {
		left: 3%;
	}

	/*---------------
		SPECIALS
	---------------*/
	#specials > #board {
		width: 304px;
		height: 641px;
		background: url('../images/wood-sign-small.png');
	}

	#specials > #board > img[alt='specials-title'] {
		width: 203px;
		height: 123px;
		top: 35px;
	}

	#specials > #board > article {
		width: 245px;
		float: none;
		position: absolute;
		top: 205px;
		left: 30px;
		margin: 0;
	}

	#specials > #board > article > article {
		width: 245px;
	}

	#specials > #board > article > article > h5 {
		font-size: 0.875em; /* 14px / 16px */
	}

	#specials > #board > article > article > hr {
		display: none;
	}

	#specials > #board > article > article + p {
		float: right;
		margin-top: -18px;
		font-size: 12px;
	}

	#specials > #board > article > p + p {
		font-size: 0.6875em; /* 11px / 16px */
	}

	/*---------------
		REVIEWS
	---------------*/
	#reviews > ul {
		width: 500px;
	}

	#reviews > ul > li {
		margin-right: 0;
	}

	/*---------------
		BLOG
	---------------*/
	#side-nav .side-posts > article > div.circle.small {
		float: none;
		margin: 0 auto;
	}

	#side-nav .side-posts > article > h6,
	#side-nav .side-posts > article > p {
		text-align: center;
	}

	/************************************/
	#comments > ul > li > article {
		float: none;
		margin-bottom: 10px;
		position: relative;
	}

	#comments > ul > li > article > div.circle.tiny {
		margin: 0 auto;
	}

	#comments > ul > li > article > a {
		position: absolute;
		top: 10px;
		right: 0;
	}

	#comments > ul > li > article.quote {
		width: 100%;
	}

	#comments > ul > li.response > article.quote {
		width: 100%;
	}

	#comments img[alt~='quote'] {
		display: none;
	}

	#menu-nav > li {
		display: inline-block;
		position: relative;
		vertical-align: top;
		text-align: center;
		margin: 10px;
	}

	

}

@media screen and (max-width: 1024px) {
	/*---------------
		HEADER
	---------------*/
	header > figure {
		width: 145px;
		top: 10px;
		margin-left: -99px;
	}


	/*---------------
		SUB MENU
	---------------*/
	#main-nav > ul > li > ul {
		margin-left: 0;
		width: 100%;
	}

	#main-nav > ul > li > ul > li > a {
		text-align: center;
	}

	/*---------------
		DISHES
	---------------*/
	#dishes-left, #dishes-right {
		width: 50%;
	}

	#dishes-left {
		float: none;
		margin: 0 auto;
	}

	#dishes-left > article > div {
		width: 75%;
		float: right;
		text-align: left;
	}

	#dishes-left > article > img {
		float: left;
	}

	#dishes-right {
		float: none;
		margin: 55px auto 0;
	}

	#dishes-right > article > div {
		width: 75%;
	}

	/*---------------
		SHOWS
	---------------*/
	#shows img[alt='show-model'] {
		display: none;
	}

	#shows > article {
		margin: 0 auto;
		text-align: center;
	}

	#shows > article > p + p {
		margin: 0 auto 55px;
	}

	#shows > article > a.square-button {
		margin: 0 auto;
	}

	/*---------------
		MENU
	---------------*/
	

	#menu-nav > li {
		margin-bottom: 30px;
	}


	#menu-nav > li:nth-child(3):after {
		display: none;
	}

	/*---------------------
		ASIDE NAVIGATION
	---------------------*/
	aside {
		display: none;
	}

	/*-------------
		BANNER
	-------------*/
	#menu-banner,
#events-banner,
#blog-banner,
#gallery-banner {
	text-align: center;
	padding-top: 100px;
}




#menu-nav > li {
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-align: center;
    margin: 10px;
}

#menu-nav {
    overflow-x: auto;
    margin: 0 auto;
    max-width: 70%;
    text-align: center;
    padding-bottom: 50px;
}

}

@media screen and (max-width: 855px) {
	/*------------
		BLOG
	------------*/
	#blog #side-nav {
		display: none;
	}

	#blog #post-list.right,
	#blog #post-list.left { 
		float: none;
		width: 90%;
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
	}

	#blog #post-list a.more {
		margin-left: auto;
		margin-right: auto;
	}

	/*-------------
		GALLERY
	-------------*/
	#gallery-3c {
		width: 370px;
	}

	#gallery-3c > li {
		margin-right: 0;
	}
	/*-------------
		BANNER
	-------------*/
	#menu-banner,
#events-banner,
#blog-banner,
#gallery-banner {
	text-align: center;
	padding-top: 100px;
}
}

@media screen and (max-width: 750px) {
	/*---------------
		DISHES
	---------------*/
	#dishes-left, #dishes-right {
		width: 90%;
	}

	#dishes-left > article > div,
	#dishes-right > article > div {
		float: none;
		text-align: center;
		margin: 0 auto;
	}
	
	#dishes-left > article,
	#dishes-right > article {
		position: relative;
		padding-top: 90px;
	}

	#dishes-left > article > img,
	#dishes-right > article > img {
		float: none;	
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -35px;
	}

	/*-------------------
		POPULAR DISHES
	-------------------*/
	ul.dishes {
		width: 270px;
	}
	
	ul.dishes > li {
		margin-right: 0;
	}

	/*---------------
		SPECIALS
	---------------*/
	#specials > img[alt="ivy"] {
		display: none;
	}

	/*-------------
		ABOUT
	-------------*/
	#about > article > ul {
		float: none;
		width: 230px;
	}

	#about > article > ul:last-child {
		margin-top: 20px;
	}

	/*-------------
		GALLERY
	-------------*/
	#gallery-4c {
		width: 270px;
	}

	#gallery-4c > li {
		margin-right: 0;
	}

	#gallery-pics {
		width: 320px;	
	}

	#gallery-pics > li:nth-child(3n+3) {
		margin-right: 20px;
	}

	#gallery-pics > li:nth-child(2n+2) {
		margin-right: 0;
	}

	/*-------------
		BLOG
	-------------*/
	#comments #comm-form input[type='text'] {
		float: none;
		width: 100%;
	}

	#comments #comm-form input[type="submit"] {
		margin: 20px auto 0;
	}

	/*-------------
		FOOTER
	-------------*/
	footer > #info {
		width: 270px;	
	}
	
	footer > #info > article {
		margin-right: 0;
	}

	footer #copy > h5 {
		margin-top: 50px;
		float: none;
		text-align: center;
	}

	footer #copy {
		position: relative;
	}

	footer #copy > nav > ul {
		width: 336px;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -168px;
	}
	/*-------------
		BANNER
	-------------*/
	#menu-banner,
#events-banner,
#blog-banner,
#gallery-banner {
	text-align: center;
	padding-top: 100px;
}

header h1, header h2 {
    font-size: 2.125em;
}

dishes {
	overflow: hidden;
	width: 1170px;
	margin: 0 auto;
	padding-top: 100px;
}

ul.dishes > li > p {
	width: 100%;
	margin: 10px auto 0;
}

ul.dishes > li > p:last-child {
    font-size: 0.80em;
    color: #323232;
    line-height: 1em;
}

}

.amanecida h5 {
	font-size: 1.25em; /* 36px / 16px */
	font-family: 'Oswald', sans-serif;
	color: #fff;
	line-height: 1em;
	margin-top: 10px;
	border-bottom: none;

	}


	#menu-banner, #events-banner, #blog-banner, #gallery-banner {
		height: 150;
	}



@media screen and (max-width: 600px) {
	/*---------------
		HEADER
	---------------*/
	header ul.main-slider img {
		display: none;
	}

	header h1,
	header h2 {
		font-size: 4.375em; /* 70px / 16px */
	}
	/*---------------
		SHOWS
	---------------*/
	#shows > article > h3 + p:before,
	#shows > article > h3 + p:after {
		display: none;
	}

	#shows > article > h3 {
		font-size: 2.5em; /* 40px / 16px */
	}

	/*---------------
		VIDEO
	---------------*/
	#video > h2 {
		font-size: 2.5em; /* 40px / 16px */
	}

	/*---------------
		REVIEWS
	---------------*/
	#reviews > ul  {
		width: 90%;
	}

	#reviews > ul > li {
		width: 100%;
	}

	#reviews > ul > li > article > div.circle.tiny {
		margin: 0 auto;
	}
	
	#reviews > ul > li > article,
	#reviews > ul > li > article.quote {
		float: none;
		width: 90%;
		margin: 10px auto;
	}

	#reviews img[alt~='triangle'] {
		display: none;
	}

	/*---------------
		NEWS
	---------------*/
	#news > h4 {
		font-size: 1.875em; /* 30px / 16px */
	}

	#news > article {
		width: 80%;
		text-align: center;
	}

	#news input[type='email'] {
		min-width: 0;
		width: 95%;
		margin-bottom: 20px;
	}

	#news input[type='submit'] {
		position: static;
		height: 38px;
		display: block;
		margin: 0 auto;
	}

	/*---------------
		CONTACT
	---------------*/
	#contact > form > input[type='text'] {
		width: 100%;
	}

	#contact > form > input[type='email'] {
		float: none;
		width: 100%;
		margin-top: 20px;
	}

	
	/*---------------
		MENU NAV
	---------------*/

	#menu-nav {
		overflow-x: auto; /* Permite el desplazamiento horizontal */
		white-space: nowrap; /* Evita que los elementos del menú se dividan en múltiples líneas */
		margin: 0 auto; /* Margen superior e inferior automático y margen izquierdo y derecho automáticos para centrarlo */
		max-width: 100%; /* Ancho máximo */
		text-align: center; /* Centra los elementos del menú horizontalmente */
	}
	
	#menu-nav > li {
		display: inline-block; /* Muestra los elementos del menú en línea */
		position: relative;
		vertical-align: top; /* Alinea los elementos del menú verticalmente */
		text-align: center; /* Centra el texto horizontalmente */
		margin:10px;
	}


	header h1, header h2 {
		font-size: 2.125em;
	}

	#menu-banner, #events-banner, #blog-banner, #gallery-banner {
		height: 150;
	}

	dishes {
		overflow: hidden;
		width: 1170px;
		margin: 0 auto;
		padding-top: 100px;
	}

	ul.dishes {
		max-width: 100%;
	}

	ul.dishes > li > p {
		width: 100%;
		margin: 10px auto 0;
	}

	#menu-nav {
		padding-bottom: 10px;
	}

	ul.dishes > li > p:last-child {
		font-size: 0.80em;
		color: #323232;
		line-height: 1em;
	}

	header > figure {
		width: 145px;
		top: 47px;
		margin-left: -99px;
	}

	header h1, header h2 {
		font-size: 2.125em;
		padding: 15px 0px 0px 51px;
	}

}

@media screen and (max-width: 480px) {
	/*---------------
		HEADER
	---------------*/
	header h1,
	header h2 {
		font-size: 3.125em; /* 60px / 16px */
	}

	/*-------------
		GALLERY
	-------------*/
	#gallery-3c {
		width: 90%;
	}

	#gallery-3c > li {
		width: 100%;
	}

	#gallery-3c > li > a > div > h5 {
		font-size: 1em; /* 16px / 16px */
	}

	/*-------------
		BLOG
	-------------*/
	#post-list .author article:first-child {
		float: none;
		margin: 0 auto;
	}
	
	#comments #comm-form input[type="submit"] {
		width: 100%;
	}

	/*-------------
		FOOTER
	-------------*/
	footer #copy > nav > ul {
		display: none;
	}

	footer #copy > h5 {
		margin-top: 0;
		font-size: 0.75em; /* 12px / 16px */
	}

	/*---------------
		MENU NAV
	---------------*/


	#menu-nav {
		overflow-x: auto; /* Permite el desplazamiento horizontal */
		white-space: nowrap; /* Evita que los elementos del menú se dividan en múltiples líneas */
		margin: 0 auto; /* Margen superior e inferior automático y margen izquierdo y derecho automáticos para centrarlo */
		max-width: 100%; /* Ancho máximo */
		text-align: center; /* Centra los elementos del menú horizontalmente */
	}
	
	#menu-nav > li {
		display: inline-block; /* Muestra los elementos del menú en línea */
		position: relative;
		vertical-align: top; /* Alinea los elementos del menú verticalmente */
		text-align: center; /* Centra el texto horizontalmente */
		margin:10px;

	}


	#menu-nav > li:nth-child(odd):after {
		display: block;
	}

	#menu-nav > li:nth-child(even) {
		margin-right: 0;
	}

	#menu-nav > li:nth-child(even):after {
		display: none;
	}

	#menu-banner, #events-banner, #blog-banner, #gallery-banner {
		height: 150;
	}

	dishes {
		overflow: hidden;
		width: 1170px;
		margin: 0 auto;
		padding-top: 100px;
	}

	ul.dishes {
		max-width: 100%;
	}

	#menu-nav {
		padding-bottom: 10px;
	}

	#menu-nav {
		padding-bottom: 10px;
	}

	ul.dishes > li > p {
		width: 100%;
		margin: 10px auto 0;
	}

	ul.dishes > li > p:last-child {
		font-size: 0.80em;
		color: #323232;
		line-height: 1em;
	}

	header > figure {
		width: 145px;
		top: 47px;
		margin-left: -99px;
	}

	header h1, header h2 {
		font-size: 2.125em;
		padding: 15px 0px 0px 51px;
	}


}

@media screen and (max-width: 400px) {
	/*---------------
		GALLERY
	---------------*/
	#gallery-pics {
		width: 150px;	
	}

	#gallery-pics > li {
		margin-right: 0;
	}

	/*------------
		BLOG
	------------*/
	#comments > ul > li > article > h6 {
		clear: left;
		float: left;
		margin-bottom: 8px;
	}

	#comments > ul > li.response {
		margin-left: 30px;
	}

	/*---------------
		MENU NAV
	---------------*/

	#menu-nav {
		overflow-x: auto; /* Permite el desplazamiento horizontal */
		white-space: nowrap; /* Evita que los elementos del menú se dividan en múltiples líneas */
		margin: 0 auto; /* Margen superior e inferior automático y margen izquierdo y derecho automáticos para centrarlo */
		max-width: 100%; /* Ancho máximo */
		text-align: center; /* Centra los elementos del menú horizontalmente */
	}
	
	#menu-nav > li {
		display: inline-block; /* Muestra los elementos del menú en línea */
		position: relative;
		vertical-align: top; /* Alinea los elementos del menú verticalmente */
		text-align: center; /* Centra el texto horizontalmente */
		margin:10px;

	}

	#menu-banner, #events-banner, #blog-banner, #gallery-banner {
		height: 150;
	}

	header h1, header h2 {
		font-size: 2.125em;
	}

	dishes {
		overflow: hidden;
		width: 1170px;
		margin: 0 auto;
		padding-top: 100px;
	}

	ul.dishes {
		max-width: 100%;
	}

	ul.dishes > li > p {
		width: 100%;
		margin: 10px auto 0;
	}

	#menu-nav {
		padding-bottom: 10px;
	}

	ul.dishes > li > p:last-child {
		font-size: 0.80em;
		color: #323232;
		line-height: 1em;
	}

	header > figure {
		width: 145px;
		top: 47px;
		margin-left: -99px;
	}
}